

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ember.js - 模板</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/emberjs-cn.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://emberjs.cn/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js CN - 博客" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38578402-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.bxSlider.min.js"></script>

    <script type="text/javascript">
      $(function() {
        var backToTop = $('#back-to-top');
        var doc = $(document);
        var offset = backToTop.offset();
        var marginTop = 90;
        var showing = false;

        positionBackToTop = function(reset) {
          if (reset) {
            backToTop.css({
              top: '',
              position: ''
            });
            offset = backToTop.offset();
          }

          if (!showing && doc.scrollTop() > offset.top+200) {
            showing = true;
            backToTop.css({
              position: 'fixed',
              top: 20,
              left: offset.left,
              display:' block'
            });
          } else if (showing && doc.scrollTop() <= offset.top+200) {
            showing = false;
            backToTop.css({
              display:'none'
            });
          }
        };

        if (backToTop.length) {
          backToTop.on('click', function(evt) {
            $('html,body').animate({scrollTop: 0}, 200);
            return false;
          });

          doc.on('scroll', function() {
            positionBackToTop();
          });
        }

        $('.bx-wrapper, .bx-window').width(940);
      });
    </script>

    
  </head>

  <body class="guides guides_templates guides_templates_rendering-with-helpers guides_templates_rendering-with-helpers_index">
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li><a href="/blog">博客</a></li>
          <li class="active"><a href="/guides">指南</a></li>
          <li>
            <a target="_blank" href="http://discuss.emberjs.cn">论坛</a>
          </li>
        </ul>
        <div id="github">
          <a href="https://github.com/emberjs-cn"><img src="/images/fork-us.png">Fork Us!</a>
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Ember!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      
      
        <div id="sidebar">
          
    <ol id="toc-list">
          <li class="level-1">
            <a href="/guides/concepts/core-concepts">概念</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/concepts/core-concepts">核心概念</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/concepts/naming-conventions">命名惯例</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/application">应用</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/application">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/application/the-application-template">应用模板</a>
            </li>
          </ol></li>
          <li class="level-1 selected">
            <a href="/guides/templates/handlebars-basics">模板</a>
            <ol class='selected'>
        
            <li class="level-3">
              <a href="/guides/templates/handlebars-basics">Handlebars基础</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/conditionals">条件表达式</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/displaying-a-list-of-items">显示项目列表</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/changing-scope">切换作用域</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-attributes">绑定元素属性</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-class-names">绑定元素类名称</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/links">链接</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/actions">操作</a>
            </li>
          
            <li class="level-3 sub-selected">
              <a href="/guides/templates/rendering-with-helpers">用助手来渲染</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/writing-helpers">编写助手方法</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/routing">路由</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/routing">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/defining-your-routes">定义路由</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/generated-objects">生成的对象</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-a-routes-model">指定路由的模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/setting-up-a-controller">设置控制器</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/rendering-a-template">渲染模板</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/redirection">重定向</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-the-location-api">指定地址API</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/controllers">控制器</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/controllers">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-a-single-model-with-objectcontroller">代表单一模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-multiple-models-with-arraycontroller">代表多模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/dependencies-between-controllers">管理控制器间的依赖</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/models">模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/models">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-a-store">创建一个存储器</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-models">定义模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/finding-models">查找模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/modifying-attributes">修改属性</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/model-lifecycle">模型生命周期</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/the-rest-adapter">The REST Adapter</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/views">视图</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/views">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/defining-a-view">定义视图</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/handling-events">处理事件</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/inserting-views-in-templates">在模板中插入视图</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/adding-layouts-to-views">Adding Layouts to Views</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/customizing-a-views-element">Customizing a View's Element</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/built-in-views">Built-in Views</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/manually-managing-view-hierarchy">Manually Managing View Hierarchy</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/object-model/classes-and-instances">对象模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/object-model/classes-and-instances">类与实例</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties">Computed Properties</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties-and-aggregate-data">Computed Properties and Aggregate Data with @each</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/observers">Observers</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/bindings">Bindings</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/reopening-classes-and-instances">Reopening Classes and Instances</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/what-do-i-use-when">Bindings, Observers, Computed Properties: What Do I Use When?</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/enumerables">枚举</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/enumerables">介绍</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/configuring-ember/disabling-prototype-extensions">配置Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/configuring-ember/disabling-prototype-extensions">禁用基本类型扩展</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/understanding-ember/the-view-layer">Understanding Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/understanding-ember/the-view-layer">The View Layer</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/managing-asynchrony">Managing Asynchrony</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/keeping-templates-up-to-date">Keeping Templates Up-to-Date</a>
            </li>
          </ol></li></ol>
  
          <div id="back-to-top"><a id="back-top-top" href="#">&#11014; 返回顶部</a></div>
        </div>
      
      <div id="content" class="has-sidebar">
          

  <div class="chapter">
    <h1>模板</h1>
    <p>英文原文： <a href="http://emberjs.com/guides/templates/rendering-with-helpers/">http://emberjs.com/guides/templates/rendering-with-helpers/</a></p>
<h2 class='anchorable-toc' id='toc_'>用助手来渲染</h2>
<p>Ember 提供了数个助手来协助你以不同的方式来渲染其他视图或模板</p>
<h3 class='anchorable-toc' id='toc_code-partial-code'><code>{{partial}}</code> 助手</h3>
<p><code>{{partial}}</code>接收一个模板作为其参数，然后恰当地渲染这个模板</p>

<p><code>{{partial}}</code>不改变上下文或作用域。它只是简单地在当前作用域下将指定的模板渲染出来。</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
8
9
</pre></td>
  <td class="code"><pre><span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">author</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  Written by </span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">author.firstName</span><span class="inline-delimiter">}}</span></span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">author.lastName</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>

<span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">post</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  &lt;h1&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">title</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">body</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/div&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">partial</span> <span class="error">&quot;</span><span class="attribute-name">author</span><span class="error">&quot;</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>
</pre></td>
</tr></table>
</div></div><div class="highlight html "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div&gt;</span>
  <span class="tag">&lt;h1&gt;</span>Why You Should Use Ember.JS<span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span>Because it's awesome!<span class="tag">&lt;/div&gt;</span>
  Written by Yehuda Katz
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div></div>
<p>注意：如果你之前用过 {{template}} 助手，那么，现在你应该使用 {{partial}}助手来代替它了。</p>
<h3 class='anchorable-toc' id='toc_code-view-code'><code>{{view}}</code> 助手</h3>
<p>此助手和 partial 类似，不同的是你需要提供一个视图类，而不是在当前模板内提供一个待渲染的模板。这个视图类控制哪个模板将被渲染，如下所示：</p>
<div class="highlight javascript "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
</pre></td>
  <td class="code"><pre>App.AuthorView = Ember.View.extend({
  <span class="comment">// We are setting templateName manually here to the default value</span>
  <span class="key">templateName</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">author</span><span class="delimiter">&quot;</span></span>,

  <span class="comment">// A fullName property should probably go on App.Author, </span>
  <span class="comment">// but we're doing it here for the example</span>
  <span class="key">fullName</span>: (<span class="keyword">function</span>() {
    <span class="keyword">return</span> <span class="local-variable">this</span>.get(<span class="string"><span class="delimiter">&quot;</span><span class="content">author</span><span class="delimiter">&quot;</span></span>).get(<span class="string"><span class="delimiter">&quot;</span><span class="content">firstName</span><span class="delimiter">&quot;</span></span>) + <span class="string"><span class="delimiter">&quot;</span><span class="content"> </span><span class="delimiter">&quot;</span></span> + <span class="local-variable">this</span>.get(<span class="string"><span class="delimiter">&quot;</span><span class="content">author</span><span class="delimiter">&quot;</span></span>).get(<span class="string"><span class="delimiter">&quot;</span><span class="content">lastName</span><span class="delimiter">&quot;</span></span>);
  }).property(<span class="string"><span class="delimiter">&quot;</span><span class="content">firstName</span><span class="delimiter">&quot;</span></span>,<span class="string"><span class="delimiter">&quot;</span><span class="content">lastName</span><span class="delimiter">&quot;</span></span>)
})
</pre></td>
</tr></table>
</div></div><div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
8
9
</pre></td>
  <td class="code"><pre><span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">author</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  Written by </span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view.fullName</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>

<span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">post</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  &lt;h1&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">title</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">body</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/div&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">view</span> <span class="attribute-name">App.AuthorView</span> <span class="attribute-name">authorBinding</span>=<span class="attribute-value">author</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>
</pre></td>
</tr></table>
</div></div><div class="highlight html "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;div&gt;</span>
  <span class="tag">&lt;h1&gt;</span>Why You Should Use Ember.JS<span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span>Because it's awesome!<span class="tag">&lt;/div&gt;</span>
  Written by Yehuda Katz
<span class="tag">&lt;/div&gt;</span>
</pre></td>
</tr></table>
</div></div>
<p>当使用 <code>{{partial &quot;author&quot;}}</code> 时：
* 不会创建 App.AuthorView 的实例
* 会渲染指定模板</p>

<p>当使用 <code>{{view App.AuthorView}}</code> 时：
* 会创建 App.AuthorView 的实例
* 会渲染与指定视图相关联的模板(默认的模板是 &quot;author&quot;)</p>

<p>更多信息，请见<a href="/guides/views/inserting-views-in-templates">在模板中插入视图</a></p>
<h3 class='anchorable-toc' id='toc_code-render-code'><code>{{render}}</code> 助手</h3>
<p><code>{{render}}</code> 需要两个参数：</p>

<ul>
<li>第一个参数描述需要建立的上下文</li>
<li>第二个参数是可选参数，它接收一个模型，如果提供了这个参数，就会被传递给控制器。</li>
</ul>

<p><code>{{render}}</code> 可以完成以下几个功能：</p>

<ul>
<li>获取相应控制器的单体实例</li>
<li>用此控制器渲染命名模板</li>
<li>设置相应控制器的模型</li>
</ul>

<p>稍微修改一下 post / author 的例子：</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
</pre></td>
  <td class="code"><pre><span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">author</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  Written by </span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">firstName</span><span class="inline-delimiter">}}</span></span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">lastName</span><span class="inline-delimiter">}}</span></span>. 
  Total Posts: <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">postCount</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>

<span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">post</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  &lt;h1&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">title</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/h1&gt;</span>
  <span class="tag">&lt;div&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">body</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/div&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">render</span> <span class="error">&quot;</span><span class="attribute-name">author</span><span class="error">&quot;</span> <span class="attribute-name">author</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/script&gt;</span>
</pre></td>
</tr></table>
</div></div><div class="highlight javascript "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers" title="double click to toggle" ondblclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre>App.AuthorController = Ember.ObjectController.extend({
  <span class="function">postCount</span>: <span class="keyword">function</span>() { 
    <span class="keyword">return</span> App.Post.countForAuthor(<span class="local-variable">this</span>.get(<span class="string"><span class="delimiter">&quot;</span><span class="content">model</span><span class="delimiter">&quot;</span></span>));
  }.property(<span class="string"><span class="delimiter">&quot;</span><span class="content">model</span><span class="delimiter">&quot;</span></span>,<span class="string"><span class="delimiter">&quot;</span><span class="content">App.Post.@each.author</span><span class="delimiter">&quot;</span></span>)
})
</pre></td>
</tr></table>
</div></div>
<p>在此例中，render 助手会：</p>

<ul>
<li>如果 App.AuthorView 存在，获取它的一个实例，否则就使用默认生成的视图</li>
<li>使用相应的模板（此处为默认的 &quot;author&quot;）</li>
<li>获取（或生成）AuthorController 的单体实例</li>
<li>设置 AuthorController的模型为{{render}}助手的第二个参数，此处为 post 里的 author 字段</li>
<li>根据前几步创建的上下文，恰当地渲染模板</li>
</ul>

<p><code>{{render}}</code> 不需要匹配路由。</p>

<p><code>{{render}}</code> 与 <code>{{outlet}}</code> 类似。两者均负责通知<code>Ember</code>将这一部分页面用来渲染其他模板。</p>

<p><code>{{outlet}}</code>: 路由器决定路由，并且创建合适的控制器/视图/模型
<code>{{render}}</code>: 你（直接或间接地）指定合适的控制器/视图/模型</p>

<p>注意： 如果需要多次调用，就得使用下面的<code>{{control}}</code>助手。</p>
<h3 class='anchorable-toc' id='toc_code-control-code'><code>{{control}}</code> 助手</h3>
<p><code>{{control}}</code> 与 render 类似，不同的是它每次调用均使用一个新的控制器实例，而不是每次都重用单体控制器。</p>

<p>此助手目前仍在开发中，以后极有可能变化很大。</p>
<h3 class='anchorable-toc' id='toc_'>比较表</h3><h4 class='anchorable-toc' id='toc_'>整体概念性比较</h4>
<table>
  <thead>
  <tr>
    <th>助手</th>
    <th>模板</th>
    <th>模型</th>
    <th>视图</th>
    <th>控制器</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>{{partial}}</code></td>
    <td>指定模板</td>
    <td>当前模型</td>
    <td>当前视图</td>
    <td>当前控制器</td>
  </tr>
  <tr>
    <td><code>{{view}}</code></td>
    <td>视图的模板</td>
    <td>当前模型</td>
    <td>指定视图</td>
    <td>当前控制器</td>
  </tr>
  <tr>
    <td><code>{{render}}</code></td>
    <td>视图的模板</td>
    <td>指定模型</td>
    <td>指定视图</td>
    <td>指定控制器</td>
  </tr>
  </tbody>
</table>
<h4 class='anchorable-toc' id='toc_specific'>Specific</h4><h4 class='anchorable-toc' id='toc_'>基于特定实例的比较</h4>
<table>
  <thead>
  <tr>
    <th>助手</th>
    <th>模板</th>
    <th>模型</th>
    <th>视图</th>
    <th>控制器</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>{{partial author}}</code></td>
    <td><code>author.hbs</code></td>
    <td>Post</td>
    <td><code>App.PostView</code></td>
    <td><code>App.PostController</code></td>
  </tr>
  <tr>
    <td><code>{{view App.AuthorView}}</code></td>
    <td><code>author.hbs</code></td>
    <td>Post</td>
    <td><code>App.AuthorView</code></td>
    <td><code>App.PostController</code></td>
  </tr>
  <tr>
    <td><code>{{render author author}}</code></td>
    <td><code>author.hbs</code></td>
    <td>Author</td>
    <td><code>App.AuthorView</code></td>
    <td><code>App.AuthorController</code></td>
  </tr>
  </tbody>
</table>

    
      <footer>
        
          <a class="previous-guide" href="/guides/templates/actions">
            ← 操作
          </a>
         
        <a class="next-guide" href="/guides/templates/writing-helpers">
          编写助手方法 →
        </a>
      
      </footer>
      
  </div>

  <script>
    $(function(){
      $("#toc-list .level-1 > a").click(function() {
        $(this).parent().find('> ol').slideToggle(function() {
          positionBackToTop(true);
        });

        return false;
      });

      $(function(){
        $('.anchorable-toc').each(function(){
          var toc = $(this),
          id = toc.attr('id'),
          href = "#" + id,
          anchor = '<a class="toc-anchor" href="'+href+'"></a>';

          toc.prepend(anchor);
        });
      });

    });
  </script>

      </div>
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        <div class="info">&copy; 2013 Emberjs.CN <br/>Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
        <div class="statement"><b>声明：</b>本站的文章可以随意在网上转载，但必须注明原文出处！</div>
      </div>
    </div>
  </body>
</html>
