

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="Ember.js的中文开发者交流平台，提供Ember.js官方网站指南和API的中文翻译，持续关注最近的社区动态，为您提供高质量的Ember.js中文资料。 " />
    <meta name="Keywords" content="Ember.js、Ember、Javascript、Javascript框架、HTML、论坛、博客、中文社区" />
    <title>Ember.js - 操作</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <!--[if lte IE 7 ]><link href="/stylesheets/fonts/fontello-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/emberjs-cn.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://emberjs.cn/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js CN - 博客" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38578402-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

<!--[if lt IE 9]>
    <script type="text/javascript" src="/javascripts/common-old-ie.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    <script type="text/javascript" src="/javascripts/common-modern.js"></script>
<!--<![endif]-->

    
    <script type="text/javascript" src="/javascripts/guides.js"></script>
  
  </head>

  <body class="bilingual_guides bilingual_guides_templates bilingual_guides_templates_actions bilingual_guides_templates_actions_index">
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li><a href="/guides">指南</a></li>
          <li><a href="/blog">博客</a></li>
          <li>
            <a target="_blank" href="http://discuss.emberjs.cn">论坛</a>
          </li>
          <li><a href="/builds">构建</a></li>
        </ul>
        <div id="github">
          <a href="https://github.com/emberjs-cn"><img src="/images/fork-us.png">Fork Us!</a>
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Ember!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      
      
        <div id="sidebar">
          
    <ol id="toc-list">
          <li class="level-1">
            <a href="/bilingual_guides/getting-started">入门指南</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/getting-started">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/planning-the-application">应用规划</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/creating-a-static-mockup">创建静态页面</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/obtaining-emberjs-and-dependencies">获取Ember.js和相应依赖</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/adding-a-route-and-template">添加第一个路由与模板</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/modeling-data">建立模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/using-fixtures">使用静态数据</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/displaying-model-data">显示模型数据</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/displaying-a-models-completeness">显示模型的完成状态</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/creating-a-new-model">创建新的模型实例</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/marking-a-model-as-complete-incomplete">标记模型为完成或未完成</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/displaying-the-number-of-incomplete-todos">显示未完成待办事项的数量</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/toggle-todo-editing-state">切换显示和编辑状态</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/accepting-edits">接受修改</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/deleting-todos">删除模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/adding-child-routes">添加子路由</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/show-only-incomplete-todos">显示未完成待办事项</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/show-only-complete-todos">显示已完成待办事项</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/show-all-todos-again">显示所有待办事项</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/display-a-button-to-remove-completed-todos">添加移除所有已完成待办事项的按钮</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/show-when-all-todos-are-complete">提示所有待办事项已完成</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/toggle-all-todos">切换已完成和未完成待办事项</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/getting-started/using-other-adapters">更换FixtureAdapter</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/concepts/core-concepts">概念</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/concepts/core-concepts">核心概念</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/concepts/naming-conventions">命名惯例</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/object-model/classes-and-instances">对象模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/object-model/classes-and-instances">类与实例</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/computed-properties">计算属性</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/computed-properties-and-aggregate-data">计算属性和带@each的集合数据</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/observers">观察器</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/bindings">绑定</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/reopening-classes-and-instances">重新打开类和实例</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/object-model/what-do-i-use-when">绑定，观察器，计算属性：如何选择？</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/application">应用</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/application">介绍</a>
            </li>
          </ol></li>
          <li class="level-1 selected">
            <a href="/bilingual_guides/templates/the-application-template">模板</a>
            <ol class='selected'>
        
            <li class="level-3">
              <a href="/bilingual_guides/templates/the-application-template">应用模板</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/handlebars-basics">Handlebars基础</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/conditionals">条件表达式</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/displaying-a-list-of-items">显示项目列表</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/changing-scope">切换作用域</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/binding-element-attributes">绑定元素属性</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/binding-element-class-names">绑定元素类名称</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/links">链接</a>
            </li>
          
            <li class="level-3 sub-selected">
              <a href="/bilingual_guides/templates/actions">操作</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/rendering-with-helpers">用助手来渲染</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/templates/writing-helpers">编写助手方法</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/routing">路由</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/routing">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/defining-your-routes">定义路由</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/generated-objects">生成的对象</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/specifying-a-routes-model">指定路由的模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/setting-up-a-controller">设置控制器</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/rendering-a-template">渲染模板</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/redirection">重定向</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/specifying-the-location-api">指定地址API</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/query-params">Query Parameters</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/asynchronous-routing">Asynchronous Routing</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/routing/preventing-and-retrying-transitions">Preventing and Retrying Transitions</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/components">组件</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/components">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/components/defining-a-component">定义组件</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/components/passing-properties-to-a-component">传递属性</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/components/wrapping-content-in-a-component">包裹内容</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/components/customizing-a-components-element">自定义组件元素</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/components/handling-user-interaction-with-actions">使用Action处理用户交互</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/components/sending-actions-from-components-to-your-application">Sending Actions from Components to Your Application</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/controllers">控制器</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/controllers">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/controllers/representing-a-single-model-with-objectcontroller">代表单一模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/controllers/representing-multiple-models-with-arraycontroller">代表多模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/controllers/dependencies-between-controllers">管理控制器间的依赖</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/models">模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/models">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/using-the-store">Using the Store</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/defining-models">定义模型</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/finding-a-record">Finding a Record</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/finding-all-records-of-a-type">Finding All Records of a Type</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/pushing-records-into-the-store">Pushing Records into the Store</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/querying-the-server-for-records">Querying the Server for Records</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/working-with-records">Working with Records</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/connecting-to-an-http-server">Connecting to an HTTP Server</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/handling-metadata">Handling Metadata</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/models/frequently-asked-questions">Frequently Asked Questions</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/views">视图</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/views">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/defining-a-view">定义视图</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/handling-events">处理事件</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/inserting-views-in-templates">在模板中插入视图</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/adding-layouts-to-views">为视图添加布局</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/customizing-a-views-element">自定义视图元素</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/built-in-views">内置视图</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/views/manually-managing-view-hierarchy">手动管理视图层级</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/enumerables">枚举</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/enumerables">介绍</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/testing/integration">测试</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/testing/integration">集成测试</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/configuring-ember/disabling-prototype-extensions">配置Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/configuring-ember/disabling-prototype-extensions">禁用基本类型扩展</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/configuring-ember/embedding-applications">嵌入式应用</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/configuring-ember/feature-flags">特性标识</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/cookbook">Cookbook</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/cookbook">简介</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/cookbook/user_interface_and_interaction">用户界面与交互</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/cookbook/event_handling_and_data_binding">事件处理和数据绑定</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/cookbook/helpers_and_components">助手与组件</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/cookbook/working_with_objects">使用对象</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/bilingual_guides/understanding-ember/the-view-layer">理解Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/the-view-layer">视图层</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/managing-asynchrony">管理异步</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/keeping-templates-up-to-date">模板自动更新</a>
            </li>
          
            <li class="level-3">
              <a href="/bilingual_guides/understanding-ember/debugging">调试</a>
            </li>
          </ol></li></ol>
  
          <div id="back-to-top"><a id="back-top-top" href="#">&#11014; 返回顶部</a></div>
        </div>
      
      <div id="content" class="has-sidebar">
          
  

  <div class="chapter">
    
        <h1>操作 
          <a href="https://github.com/emberjs-cn/www.emberjs.cn/tree/master/source/guides/templates/actions.md" target="_blank" class="edit-page">
            编辑页面</a>
        </h1>
      
    <p>英文原文：<a href="http://emberjs.com/guides/templates/actions/">http://emberjs.com/guides/templates/actions/</a></p>

<p>中英对照：<a href="http://emberjs.cn/bilingual_guides/templates/actions/">http://emberjs.c/bilingual_guides/templates/actions/</a></p>
<h2 class='anchorable-toc' id='toc_actions-the-code-action-code-helper'>Actions (The <code>{{action}}</code> Helper)</h2><h2 class='anchorable-toc' id='toc_action'>操作（{{action}}助手方法）</h2>
<p>Your app will often need a way to let users interact with controls that
change application state. For example, imagine that you have a template
that shows a blog post, and supports expanding the post with additional
information.</p>

<p>应用常常需要一种让用户通过控件进行交互来修改应用状态的方式。例如，有一个用来显示一篇博客的模板，并且支持展开查看博客更多的信息。</p>

<p>You can use the <code>{{action}}</code> helper to make an HTML element clickable.
When a user clicks the element, the named event will be sent to your
application.</p>

<p>那么可以使用<code>{{action}}</code>助手来使得一个HTML元素可以被点击。当用户点击这个元素时，一个命名事件将会被发送给应用。</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
11
12
</pre></td>
  <td class="code"><pre><span class="comment">&lt;!-- post.handlebars --&gt;</span>

<span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">'</span><span class="content">intro</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">intro</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/div&gt;</span>

<span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">if</span> <span class="attribute-name">isExpanded</span><span class="inline-delimiter">}}</span></span>
  <span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">'</span><span class="content">body</span><span class="delimiter">'</span></span><span class="tag">&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">body</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/div&gt;</span>
  <span class="tag">&lt;button</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="error">'</span><span class="attribute-name">contract</span><span class="error">'</span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>Contract<span class="tag">&lt;/button&gt;</span>
<span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">else</span><span class="inline-delimiter">}}</span></span>
  <span class="tag">&lt;button</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="error">'</span><span class="attribute-name">expand</span><span class="error">'</span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>Show More...<span class="tag">&lt;/button&gt;</span>
<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">if</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div></div><div class="highlight js "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
11
12
13
14
</pre></td>
  <td class="code"><pre>App.PostController = Ember.ObjectController.extend({
  <span class="comment">// initial value</span>
  <span class="key">isExpanded</span>: <span class="predefined-constant">false</span>,

  <span class="key">actions</span>: {
    <span class="function">expand</span>: <span class="keyword">function</span>() {
      <span class="local-variable">this</span>.set(<span class="string"><span class="delimiter">'</span><span class="content">isExpanded</span><span class="delimiter">'</span></span>, <span class="predefined-constant">true</span>);
    },

    <span class="function">contract</span>: <span class="keyword">function</span>() {
      <span class="local-variable">this</span>.set(<span class="string"><span class="delimiter">'</span><span class="content">isExpanded</span><span class="delimiter">'</span></span>, <span class="predefined-constant">false</span>);
    }
  }
});
</pre></td>
</tr></table>
</div></div><h3 class='anchorable-toc' id='toc_action-bubbling'>Action Bubbling</h3>
<p>By default, the <code>{{action}}</code> helper triggers a method on the template&#39;s
controller, as illustrated above.</p>

<p>缺省情况下，<code>{{action}}</code>助手触发模板控制器的一个方法（如上所述）。</p>

<p>If the controller does not implement a method with the same name as the
action in its actions object, the action will be sent to the router,
where the currently active leaf route will be given a chance to handle the
action.</p>

<p>如果控制器没有实现一个与操作的同名方法，那么这个操作将被发送至路由，这样当前处于激活状态的叶节点路由可以处理该操作。</p>

<p>Routes and controllers that handle actions <strong>must place action handlers
inside an <code>actions</code> hash</strong>. Even if a route has a method with the same
name as the actions, it will not be triggered unless it is inside an
<code>actions</code> hash. In the case of a controller, while there is deprecated support for
triggering a method directly on the controller, it is strongly recommended that
you put your action handling methods inside an <code>actions</code> hash for forward
compatibility.</p>

<p>路由和控制器处理操作<strong>必须将操作处理函数定义在<code>actions</code>哈希中</strong>。即便一个路由有一个与操作同名的的方法，如果不定义在<code>ations</code>哈希中也不会被触发。对于一个控制器，强烈推荐将操作处理函数定义在<code>actions</code>哈希中来保证向前兼容。</p>
<div class="highlight js "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
11
</pre></td>
  <td class="code"><pre>App.PostRoute = Ember.Route.extend({
  <span class="key">actions</span>: {
    <span class="function">expand</span>: <span class="keyword">function</span>() {
      <span class="local-variable">this</span>.controller.set(<span class="string"><span class="delimiter">'</span><span class="content">isExpanded</span><span class="delimiter">'</span></span>, <span class="predefined-constant">true</span>);
    },

    <span class="function">contract</span>: <span class="keyword">function</span>() {
      <span class="local-variable">this</span>.controller.set(<span class="string"><span class="delimiter">'</span><span class="content">isExpanded</span><span class="delimiter">'</span></span>, <span class="predefined-constant">false</span>);
    }
  }
});
</pre></td>
</tr></table>
</div></div>
<p>As you can see in this example, the action handlers are called such
that when executed, <code>this</code> is the route, not the <code>actions</code> hash.</p>

<p>正如在上例中所示，操作处理器在执行的时候被调用，<code>this</code>是路由的实例，而非<code>actions</code>这个哈希。</p>

<p>If neither the template&#39;s controller nor its associated route implements
a handler, the action will continue to bubble to any parent routes.
Ultimately, if an <code>ApplicationRoute</code> is defined, it will have an
opportunity to handle the action.</p>

<p>如果模板对应的控制器和关联的路由都没有实现操作处理器，这个操作将被冒泡到其父级的路由。如果应用定义了<code>ApplicationRoute</code>，这里是能处理该操作的最后地方。</p>

<p>When an action is triggered, but no matching action handler is
implemented on the controller, the current route, or any of the
current route&#39;s ancestors, an error will be thrown.</p>

<p>当一个操作被触发时，如果在控制器中没有实现对应的操作处理器，当前路由或当前路由的任意一个父节点也没有实现时，将抛出一个错误。</p>

<p><img src="/images/template-guide/action-bubbling.png" alt="操作冒泡（Action Bubbling）"></p>

<p>This allows you to create a button that has different behavior based on
where you are in the application. For example, you might want to have a
button in a sidebar that does one thing if you are somewhere inside of
the <code>/posts</code> route, and another thing if you are inside of the <code>/about</code>
route.</p>

<p>这样可以创建一个按钮，且该按钮根据当前应用所在位置有不同的行为。例如，有一个在侧栏中的按钮，当在<code>/posts</code>路由和<code>/about</code>路由时，分别有不同的行为。</p>
<h3 class='anchorable-toc' id='toc_action-parameters'>Action Parameters</h3><h3 class='anchorable-toc' id='toc_'>操作参数</h3>
<p>You can optionally pass arguments to the action handler. Any values
passed to the <code>{{action}}</code> helper after the action name will be passed
to the handler as arguments.</p>

<p>Ember.js支持传递参数给操作处理器。任何在操作名称之后传递给<code>{{action}}</code>助手的值，都会作为参数传递给操作处理器。</p>

<p>For example, if the <code>post</code> argument was passed:</p>

<p>例如，如果需要将<code>post</code>作为参数：</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
</pre></td>
  <td class="code"><pre> <span class="tag">&lt;p&gt;</span><span class="tag">&lt;button</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="error">&quot;</span><span class="attribute-name">select</span><span class="error">&quot;</span> <span class="attribute-name">post</span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>✓<span class="tag">&lt;/button&gt;</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">post.title</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/p&gt;</span>
</pre></td>
</tr></table>
</div></div>
<p>The route&#39;s <code>select</code> action handler would be called with a single
argument containing the post model:</p>

<p>路由的<code>select</code>操作处理器被调用，并且将博客模型作为参数：</p>
<div class="highlight js "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
</pre></td>
  <td class="code"><pre>App.PostController = Ember.ObjectController.extend({
  <span class="key">actions</span>: {
    <span class="function">select</span>: <span class="keyword">function</span>(post) {
      console.log(post.get(<span class="string"><span class="delimiter">'</span><span class="content">title</span><span class="delimiter">'</span></span>));
    }
  }
});
</pre></td>
</tr></table>
</div></div><h3 class='anchorable-toc' id='toc_specifying-the-type-of-event'>Specifying the Type of Event</h3><h3 class='anchorable-toc' id='toc_'>指定事件的类型</h3>
<p>By default, the <code>{{action}}</code> helper listens for click events and triggers
the action when the user clicks on the element.</p>

<p>默认情况下，<code>{{action}}</code>助手方法侦听事件，并且在用户点击到此元素时触发指定的操作。</p>

<p>You can specify an alternative event by using the <code>on</code> option.</p>

<p>你还可以通过<code>on</code>选项指定一个替代事件来侦听。</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
</pre></td>
  <td class="code"><pre><span class="tag">&lt;p&gt;</span>
  <span class="tag">&lt;button</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="error">&quot;</span><span class="attribute-name">select</span><span class="error">&quot;</span> <span class="attribute-name">post</span> <span class="attribute-name">on</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">mouseUp</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>✓<span class="tag">&lt;/button&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">post.title</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/p&gt;</span>
</pre></td>
</tr></table>
</div></div>
<p>You should use the normalized event names <a href="/guides/understanding-ember/the-view-layer/#toc_adding-new-events">listed in the View guide</a>.
In general, two-word event names (like <code>keypress</code>) become <code>keyPress</code>.</p>

<p>你应该使用标准化之后的事件名称<a href="/guides/understanding-ember/the-view-layer/#toc_adding-new-events">视图指南已详细列出</a>.
通常，两个字的事件名（如<code>keypress</code>）,会变成（<code>keyPress</code>）。</p>
<h3 class='anchorable-toc' id='toc_specifying-whitelisted-modifier-keys'>Specifying Whitelisted Modifier Keys</h3><h3 class='anchorable-toc' id='toc_'>指定在白名单中的辅助键</h3>
<p>By default the <code>{{action}}</code> helper will ignore click events with
pressed modifier keys. You can supply an <code>allowedKeys</code> option
to specify which keys should not be ignored.</p>

<p>默认情况下，<code>{{action}}</code>助手方法会忽略掉用户点击时同时按下的辅助键。你可以通过提供一个<code>allowedKeys</code>的选项来指定哪些键按下时不会被忽略掉。</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="tag">&lt;script</span> <span class="attribute-name">type</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">text/x-handlebars</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">data-template-name</span>=<span class="string"><span class="delimiter">'</span><span class="content">a-template</span><span class="delimiter">'</span></span><span class="tag">&gt;</span>
<span class="inline">  &lt;div </span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="attribute-name">anActionName</span> <span class="attribute-name">allowedKeys</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">alt</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="error">&gt;</span>
    click me
  <span class="tag">&lt;/div&gt;</span>
<span class="tag">&lt;/script&gt;</span>
</pre></td>
</tr></table>
</div></div>
<p>This way the <code>{{action}}</code> will fire when clicking with the alt key
pressed down.</p>

<p>这样，{{action}}助手方法会在用户按下alt键后点击时被触发。</p>
<h3 class='anchorable-toc' id='toc_stopping-event-propagation'>Stopping Event Propagation</h3><h3 class='anchorable-toc' id='toc_'>阻止事件传递（译注：即不让冒泡）</h3>
<p>By default, the <code>{{action}}</code> helper allows events it handles to bubble
up to parent DOM nodes. If you want to stop propagation, you can disable
propagation to the parent node.</p>

<p>{{action}}助手方法允许将由它处理的事件冒泡到父级DOM节点。如果你想禁掉这个行为，你完全可以做到。</p>

<p>For example, if you have a <strong>✗</strong> button inside of a link, you will want
to ensure that if the user clicks on the <strong>✗</strong>, that the link is not
clicked.</p>

<p>比如，你有一个链接包含一个<strong>✗</strong>按钮，你想保证这个按钮点击时，链接却不会被点击。</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
</pre></td>
  <td class="code"><pre><span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">link-to</span> <span class="error">'</span><span class="attribute-name">post</span><span class="error">'</span><span class="inline-delimiter">}}</span></span>
  Post
  <span class="tag">&lt;button</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="attribute-name">close</span> <span class="attribute-name">bubbles</span>=<span class="attribute-value">false</span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>✗<span class="tag">&lt;/button&gt;</span>
<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">link-to</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div></div>
<p>Without <code>bubbles=false</code>, if the user clicked on the button, Ember.js
will trigger the action, and then the browser will propagate the click
to the link.</p>

<p>没指定<code>bubbles=false</code>时，用户点击了按钮，Ember.js 就会触发操作，同时浏览器会将此点击事件传递到父级元素。</p>

<p>With <code>bubbles=false</code>, Ember.js will stop the browser from propagating
the event.</p>

<p>指定<code>bubbles=false</code>时，Ember.js 就会阻止浏览器将此点击事件传递到父级元素。</p>
<h3 class='anchorable-toc' id='toc_specifying-a-target'>Specifying a Target</h3><h3 class='anchorable-toc' id='toc_'>指定目标</h3>
<p>By default, the <code>{{action}}</code> helper will send the action to the view&#39;s
target, which is generally the view&#39;s controller. (Note: in the case of
an Ember.Component, the default target is the component itself.)</p>

<p>在默认情况下，<code>{{action}}</code>助手将操作发送到视图的目标，通常是视图的控制器。（注意：Ember.Component默认的目标是组件自身。）</p>

<p>You can specify an alternative target by using the <code>target</code> option.
This is most commonly used to send actions to a view instead of a
controller.</p>

<p>使用<code>target</code>选项可以指定其他的目标。经常使用这个选项将目标指向视图而非控制器。</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
</pre></td>
  <td class="code"><pre><span class="tag">&lt;p&gt;</span>
  <span class="tag">&lt;button</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="error">&quot;</span><span class="attribute-name">select</span><span class="error">&quot;</span> <span class="attribute-name">post</span> <span class="attribute-name">target</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">view</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>✓<span class="tag">&lt;/button&gt;</span>
  <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">post.title</span><span class="inline-delimiter">}}</span></span>
<span class="tag">&lt;/p&gt;</span>
</pre></td>
</tr></table>
</div></div>
<p>You would handle this in an <code>actions</code> hash on your view.</p>

<p>这样应该在视图的<code>actions</code>哈希中处理。</p>
<div class="highlight javascript "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
</pre></td>
  <td class="code"><pre>App.PostsIndexView = Ember.View.extend({
  <span class="key">actions</span>: {
    <span class="function">select</span>: <span class="keyword">function</span>(post) {
      <span class="comment">// do your business.</span>
    }
  }
});
</pre></td>
</tr></table>
</div></div>
    
      <footer>
        
          <a class="previous-guide" href="/bilingual_guides/templates/links">
            ← 链接
          </a>
         
        <a class="next-guide" href="/bilingual_guides/templates/rendering-with-helpers">
          用助手来渲染 →
        </a>
      
      </footer>
      
  </div>

      </div>
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        <div class="info">&copy; 2013 Emberjs.CN <br/>Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
        <div class="statement"><b>声明：</b>本站的文章可以随意在网上转载，但必须注明原文出处！</div>
        <div class="links">
          <a href="http://weibo.com/embercn"><img src="/images/weibo.png"/></a>
          <a href="http://emberjs.cn/blog/feed.xml"><img src="/images/feed.png"/></a>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0b0fcec01b06cc76e274f7b21f4766c4' type='text/javascript'%3E%3C/script%3E"));

      $(function() {
        $('a[href="http://tongji.baidu.com/hm-web/welcome/ico?s=0b0fcec01b06cc76e274f7b21f4766c4"]').hide();
      });
    </script>

  </body>
</html>
