

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="Ember.js的中文开发者交流平台，提供Ember.js官方网站指南和API的中文翻译，持续关注最近的社区动态，为您提供高质量的Ember.js中文资料。 " />
    <meta name="Keywords" content="Ember.js、Ember、Javascript、Javascript框架、HTML、论坛、博客、中文社区" />
    <title>Ember.js - 组件: 从组件发送操作给应用</title>
    <meta property="st:title" content="组件: 从组件发送操作给应用" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <!--[if lte IE 7 ]><link href="/stylesheets/fonts/fontello-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/emberjs-cn.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://emberjs.cn/blog/feed.xml" rel="alternate" type="application/atom+xml" title="Ember.js CN - 博客" />

    
  </head>

  <body class="guides guides_components guides_components_sending-actions-from-components-to-your-application guides_components_sending-actions-from-components-to-your-application_index">
    <div id="header">
      <div id="wrapper">
        <a id="logo" href="/">&nbsp;</a>
        <ul id="nav">
          <li class="active"><a href="/guides">指南</a></li>
          <li>
            <a target="_blank" href="http://discuss.emberjs.cn">论坛</a>
          </li>
          <li><a href="/blog">博客</a></li>
          <li>
            <a target="_blank" href="http://devdocs.io/ember/">API文档</a>
          </li>
          <li><a href="/builds">构建</a></li>
        </ul>
        <div id="github">
          <a href="https://github.com/emberjs-cn"><img src="/images/fork-us.png">Fork Us!</a>
          <a href="https://github.com/emberjs/ember.js"><img src="/images/fork-us.png">Fork Ember!</a>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      
      
        <div id="sidebar">
          
    <ol id="toc-list">
          <li class="level-1">
            <a href="/guides/getting-started">入门指南</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/getting-started">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/planning-the-application">应用规划</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/creating-a-static-mockup">创建静态页面</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/obtaining-emberjs-and-dependencies">获取Ember.js和相应依赖</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/adding-a-route-and-template">添加第一个路由与模板</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/modeling-data">建立模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/using-fixtures">使用静态数据</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/displaying-model-data">显示模型数据</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/displaying-a-models-completeness">显示模型的完成状态</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/creating-a-new-model">创建新的模型实例</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/marking-a-model-as-complete-incomplete">标记模型为完成或未完成</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/displaying-the-number-of-incomplete-todos">显示未完成待办事项的数量</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/toggle-todo-editing-state">切换显示和编辑状态</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/accepting-edits">接受修改</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/deleting-todos">删除模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/adding-child-routes">添加子路由</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/show-only-incomplete-todos">显示未完成待办事项</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/show-only-complete-todos">显示已完成待办事项</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/show-all-todos-again">显示所有待办事项</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/display-a-button-to-remove-completed-todos">添加移除所有已完成待办事项的按钮</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/show-when-all-todos-are-complete">提示所有待办事项已完成</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/toggle-all-todos">切换已完成和未完成待办事项</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/getting-started/using-other-adapters">更换FixtureAdapter</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/getting-ember">获取Ember</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/getting-ember">获取Ember</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/concepts/core-concepts">概念</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/concepts/core-concepts">核心概念</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/concepts/naming-conventions">命名惯例</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/object-model/classes-and-instances">对象模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/object-model/classes-and-instances">类与实例</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties">计算属性</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/computed-properties-and-aggregate-data">计算属性和带@each的集合数据</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/observers">观察器</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/bindings">绑定</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/reopening-classes-and-instances">重新打开类和实例</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/object-model/what-do-i-use-when">绑定，观察器，计算属性：如何选择？</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/application">应用</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/application">介绍</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/templates/the-application-template">模板</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/templates/the-application-template">应用模板</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/handlebars-basics">Handlebars基础</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/conditionals">条件表达式</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/displaying-a-list-of-items">显示项目列表</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/changing-scope">切换作用域</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-attributes">绑定元素属性</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/binding-element-class-names">绑定元素类名称</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/links">链接</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/actions">操作</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/input-helpers">输入助手</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/development-helpers">开发助手</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/rendering-with-helpers">用助手来渲染</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/templates/writing-helpers">编写助手方法</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/routing">路由</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/routing">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/defining-your-routes">定义路由</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/generated-objects">生成的对象</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-a-routes-model">指定路由的模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/setting-up-a-controller">设置控制器</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/rendering-a-template">渲染模板</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/redirection">重定向</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/specifying-the-location-api">指定地址API</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/query-params">查询参数</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/asynchronous-routing">异步路由</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/loading-and-error-substates">加载中/错误子状态</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/routing/preventing-and-retrying-transitions">阻止和重试过渡</a>
            </li>
          </ol></li>
          <li class="level-1 selected">
            <a href="/guides/components">组件</a>
            <ol class='selected'>
        
            <li class="level-3">
              <a href="/guides/components">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/defining-a-component">定义组件</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/passing-properties-to-a-component">传递属性</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/wrapping-content-in-a-component">包裹内容</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/customizing-a-components-element">自定义组件元素</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/components/handling-user-interaction-with-actions">使用Action处理用户交互</a>
            </li>
          
            <li class="level-3 sub-selected">
              <a href="/guides/components/sending-actions-from-components-to-your-application">从组件发送操作给应用</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/controllers">控制器</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/controllers">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-a-single-model-with-objectcontroller">代表单一模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/representing-multiple-models-with-arraycontroller">代表多模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/controllers/dependencies-between-controllers">管理控制器间的依赖</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/models">模型</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/models">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/defining-models">定义模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/creating-and-deleting-records">创建和删除记录</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/pushing-records-into-the-store">将记录推入仓库</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/persisting-records">持久化记录</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/finding-records">查询记录</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/working-with-records">使用记录</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/the-fixture-adapter">使用Fixture</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/connecting-to-an-http-server">连接HTTP服务器</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/handling-metadata">处理元数据</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/customizing-adapters">自定义适配器</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/models/frequently-asked-questions">常见问题</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/views">视图</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/views">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/defining-a-view">定义视图</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/handling-events">处理事件</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/inserting-views-in-templates">在模板中插入视图</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/adding-layouts-to-views">为视图添加布局</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/customizing-a-views-element">自定义视图元素</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/built-in-views">内置视图</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/views/manually-managing-view-hierarchy">手动管理视图层级</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/enumerables">枚举</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/enumerables">介绍</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/testing">测试</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/testing">介绍</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/integration">集成测试</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/test-helpers">测试助手</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/testing-user-interaction">测试用户交互</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/unit">单元测试</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/unit-testing-basics">单元测试基础</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/testing-components">测试组件</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/testing-controllers">测试控制器</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/testing-routes">测试路由</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/testing-models">测试模型</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/testing/test-runners">自动化测试</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/configuring-ember/disabling-prototype-extensions">配置Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/configuring-ember/disabling-prototype-extensions">禁用基本类型扩展</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/configuring-ember/embedding-applications">嵌入式应用</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/configuring-ember/feature-flags">特性标识</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/cookbook">Cookbook</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/cookbook">简介</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/cookbook/user_interface_and_interaction">用户界面与交互</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/cookbook/event_handling_and_data_binding">事件处理和数据绑定</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/cookbook/helpers_and_components">助手与组件</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/cookbook/working_with_objects">使用对象</a>
            </li>
          </ol></li>
          <li class="level-1">
            <a href="/guides/understanding-ember/the-view-layer">理解Ember.js</a>
            <ol>
        
            <li class="level-3">
              <a href="/guides/understanding-ember/the-view-layer">视图层</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/managing-asynchrony">管理异步</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/keeping-templates-up-to-date">模板自动更新</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/debugging">调试</a>
            </li>
          
            <li class="level-3">
              <a href="/guides/understanding-ember/run-loop">运行循环</a>
            </li>
          </ol></li></ol>
  
          <div id="back-to-top"><a id="back-top-top" href="#">&#11014; 返回顶部</a></div>
        </div>
      
      <div id="content" class="has-sidebar">
          
  

  

  <div class="chapter">
    
        <h1>从组件发送操作给应用 
          <a href="https://github.com/emberjs-cn/www.emberjs.cn/tree/master/source/guides/components/sending-actions-from-components-to-your-application.md" target="_blank" class="edit-page">
            编辑页面</a>
        </h1>
      
    <hr>
    <p>英文原文：<a href="http://emberjs.com/guides/components/sending-actions-from-components-to-your-application/">http://emberjs.com/guides/components/sending-actions-from-components-to-your-application/</a></p>

<p>当组件被用于一个模板中时，其能够发送操作（action）给模板的控制器和路由。这样可以允许组件在一些重要的事件发生时通知应用。比如一个用户点击了组件中的一个特定的元素，可以触发此操作。</p>

<p>就像<code>{{action}}</code>Handlebars助手一样，组件发出的操作首先到达模板的控制器。如果控制器没有实现一个操作的处理方法，那么操作会被抛到模板的路由，然后再路由的层级中一路往上冒泡。想知道关于冒泡机制的详细细节，可以查看<a href="/guides/templates/actions/#toc_action-bubbling">操作冒泡</a>。</p>

<p>组件被设计为可以在应用中不同的部分都可以重用。为了达到可以重用的目的，当在模板中使用组建时，指定组件发出的操作非常重要。</p>

<p>或者说，假设在编写一个按钮组件，且不希望发送一个<code>click</code>操作，因为这可能会有点模棱两可，会导致与页面上的其他组件发生冲突。作为替代的方案，可以在允许使用组件的人，在使用时指定当点击按钮时，组件将会发送的操作。</p>

<p>幸运的是，组件拥有<code>sendAction()</code>方法，它允许在模板中使用组件时设定组件要发送的操作。</p>
<h3 class='anchorable-toc' id='toc_'>发送主操作</h3>
<p>许多组件只发送一种类型的操作。例如，按钮组件可能只在被点击时发送一个操作；这就是<em>主操作</em>。</p>

<p>要设置一个组件的主操作，只需要在Handlebars模板中设置组件的<code>action</code>属性即可：</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
</pre></td>
  <td class="code"><pre><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">my-button</span> <span class="attribute-name">action</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">showUser</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div></div>
<p>这里告知<code>my-button</code>组件，当其主操作被触发时，将发送<code>showUser</code>操作。</p>

<p>因此，该如何触发发送一个组件的主操作呢？在相关的事件发送之后，通过调用不带参数的<code>sendAction()</code>方法可以实现：</p>
<div class="highlight js "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre>App.MyButtonComponent = Ember.Component.extend({
  <span class="function">click</span>: <span class="keyword">function</span>() {
    <span class="local-variable">this</span>.sendAction();
  }
}
</pre></td>
</tr></table>
</div></div>
<p>上面的例子中，在<code>my-button</code>组件被点击时，会发送<code>showUser</code>操作。</p>
<h3 class='anchorable-toc' id='toc_'>发送一个带参数的操作</h3>
<p>有时候可能需要提供附件的上下文给路由或控制器来处理一个操作。例如，一个按钮组件可能不止需要告诉控制器<em>一个</em>条目被删除了，还需要告诉控制器是<em>哪一个</em>条目被删除。</p>

<p>为了使主操作发送参数，需要在调用<code>sendAction()</code>方法时指定<code>&quot;action&quot;</code>为第一个参数，后续的参数将作为要发送的参数：</p>
<div class="highlight js "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
</pre></td>
  <td class="code"><pre><span class="local-variable">this</span>.sendAction(<span class="string"><span class="delimiter">'</span><span class="content">action</span><span class="delimiter">'</span></span>, param1, param2);
</pre></td>
</tr></table>
</div></div>
<p>例如，假设正在编写一个允许用户删除待办事项的列表：</p>
<div class="highlight js "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
11
12
13
14
15
16
17
18
</pre></td>
  <td class="code"><pre>App.IndexRoute = Ember.Route.extend({
  <span class="function">model</span>: <span class="keyword">function</span>() {
    <span class="keyword">return</span> {
      <span class="key">todos</span>: [{
        <span class="key">title</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Learn Ember.js</span><span class="delimiter">&quot;</span></span>
      }, {
        <span class="key">title</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Walk the dog</span><span class="delimiter">&quot;</span></span>
      }]
    };
  },

  <span class="key">actions</span>: {
    <span class="function">deleteTodo</span>: <span class="keyword">function</span>(todo) {
      <span class="keyword">var</span> todos = <span class="local-variable">this</span>.modelFor(<span class="string"><span class="delimiter">'</span><span class="content">index</span><span class="delimiter">'</span></span>).todos;
      todos.removeObject(todo);
    }
  }
});
</pre></td>
</tr></table>
</div></div><div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="comment">{{! index.handlebars }}</span>

<span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">each</span> <span class="attribute-name">todo</span> <span class="attribute-name">in</span> <span class="attribute-name">todos</span><span class="inline-delimiter">}}</span></span>
  <span class="tag">&lt;p&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">todo.title</span><span class="inline-delimiter">}}</span></span> <span class="tag">&lt;button</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="error">&quot;</span><span class="attribute-name">deleteTodo</span><span class="error">&quot;</span> <span class="attribute-name">todo</span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>Delete<span class="tag">&lt;/button&gt;</span><span class="tag">&lt;/p&gt;</span>
<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">each</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div></div>
<p>这时候可能需要更新应用，使得在删除一条待办事项时，用户必须确认这是否是他所希望进行的操作。这里就需要实现一个在完成操作前重复检查用户行为的组件。</p>

<p>在组件中，当触发主操作时，将传入一个组件用户可以指定的附加参数：</p>
<div class="highlight js "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
6
7
8
9
<strong>10</strong>
11
12
</pre></td>
  <td class="code"><pre>App.ConfirmButtonComponent = Ember.Component.extend({
  <span class="key">actions</span>: {
    <span class="function">showConfirmation</span>: <span class="keyword">function</span>() {
      <span class="local-variable">this</span>.toggleProperty(<span class="string"><span class="delimiter">'</span><span class="content">isShowingConfirmation</span><span class="delimiter">'</span></span>); 
    },

    <span class="function">confirm</span>: <span class="keyword">function</span>() {
      <span class="local-variable">this</span>.toggleProperty(<span class="string"><span class="delimiter">'</span><span class="content">isShowingConfirmation</span><span class="delimiter">'</span></span>);
      <span class="local-variable">this</span>.sendAction(<span class="string"><span class="delimiter">'</span><span class="content">action</span><span class="delimiter">'</span></span>, <span class="local-variable">this</span>.get(<span class="string"><span class="delimiter">'</span><span class="content">param</span><span class="delimiter">'</span></span>));
    }
  }
});
</pre></td>
</tr></table>
</div></div><div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre><span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">if</span> <span class="attribute-name">isShowingConfirmation</span><span class="inline-delimiter">}}</span></span>
  <span class="tag">&lt;button</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="error">&quot;</span><span class="attribute-name">confirm</span><span class="error">&quot;</span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span>Click again to confirm<span class="tag">&lt;/button&gt;</span>
<span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">else</span><span class="inline-delimiter">}}</span></span>
  <span class="tag">&lt;button</span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">action</span> <span class="error">&quot;</span><span class="attribute-name">showConfirmation</span><span class="error">&quot;</span><span class="inline-delimiter">}}</span></span><span class="tag">&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">title</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/button&gt;</span>
<span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">if</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div></div>
<p>现在可以修改原来的模板，用自定义的新组件来替换<code>{{action}}</code>助手：</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
</pre></td>
  <td class="code"><pre>    <span class="inline"><span class="inline-delimiter">{{#</span><span class="attribute-name">each</span> <span class="attribute-name">todo</span> <span class="attribute-name">in</span> <span class="attribute-name">todos</span><span class="inline-delimiter">}}</span></span>
      <span class="tag">&lt;p&gt;</span><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">todo.title</span><span class="inline-delimiter">}}</span></span> <span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">confirm-button</span> <span class="attribute-name">title</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">Delete</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">action</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">deleteTodo</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">param</span>=<span class="attribute-value">todo</span><span class="inline-delimiter">}}</span></span><span class="tag">&lt;/p&gt;</span>
    <span class="inline"><span class="inline-delimiter">{{/</span><span class="attribute-name">each</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div></div>
<p>注意这里通过组件的<code>action</code>属性来设置需要发送的特定操作，并且通过组件的<code>param</code>属性来设置需要发送的特定的参数。</p>

<p><a class="jsbin-embed" href="http://jsbin.com/atIgUSi/1/embed?live">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script></p>
<h3 class='anchorable-toc' id='toc_'>发送多个操作</h3>
<p>根据组件的复杂程度，可能需要根据组件能产生的不同事件，来指定不同的操作。</p>

<p>例如，假设在编写一个用户可以提交或者撤销的表单组件。根据用户点击的按钮，希望可以发送不同的操作给控制器或者路由。</p>

<p>通过传入事件的名称作为<code>sendAction()</code>的第一个参数，可以指定<em>哪一个</em>操作将被发送。例如，当使用表单组件时，可以指定两个操作：</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
</pre></td>
  <td class="code"><pre><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">user-form</span> <span class="attribute-name">submit</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">createUser</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">cancel</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">cancelUserCreation</span><span class="delimiter">&quot;</span></span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div></div>
<p>在这里，可以通过调用<code>this.sendAction(&#39;submit&#39;)</code>来发送<code>createUser</code>操作，或者通过调用<code>this.sendAction(&#39;cancel&#39;)</code>来发送<code>cancelUserCreation</code>操作。</p>

<p><a class="jsbin-embed" href="http://jsbin.com/OpebEFO/1/embed?html,js,output">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script></p>
<h3 class='anchorable-toc' id='toc_'>没有指定的操作</h3>
<p>如果有人在使用组件时没有为一个特定的事件指定一个操作，调用<code>sendAction()</code>将不起任何作用。</p>

<p>例如，如果定义了一个组件，该组件在被点击时触发主操作：</p>
<div class="highlight js "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
2
3
4
5
</pre></td>
  <td class="code"><pre>App.MyButtonComponent = Ember.Component.extend({
  <span class="function">click</span>: <span class="keyword">function</span>() {
    <span class="local-variable">this</span>.sendAction();
  }
});
</pre></td>
</tr></table>
</div></div>
<p>如果使用组件时，没有指定主操作，那么用户点击时，不会有任何效果：</p>
<div class="highlight handlebars "><div class="ribbon"></div><div class="scroller"><table class="CodeRay"><tr>
  <td class="line-numbers"><pre>1
</pre></td>
  <td class="code"><pre><span class="inline"><span class="inline-delimiter">{{</span><span class="attribute-name">my-button</span><span class="inline-delimiter">}}</span></span>
</pre></td>
</tr></table>
</div></div><h3 class='anchorable-toc' id='toc_'>关于组件操作的思考</h3>
<p>通常情况下，可以认为组件的操作是将<em>原生事件</em>（例如鼠标点击、或者<code>&lt;audio&gt;</code>元素的<code>pause</code>事件）转换为应用中具有特定语义的操作。</p>

<p>这样路由和控制器就可以使用<code>deleteTodo</code>或者<code>songDidPause</code>这样的命名来取代如<code>click</code>或者<code>pause</code>这样会给其他开发者在阅读上下文时带来歧义的不明确的名称。</p>

<p>另外一种想法就是认为组件操作是组件的<em>公共API</em>。其他要使用组件的开发者主要需要考虑的就是什么事件组件能触发应用中的操作。通常情况下，保持这些事件尽可能的通用，就保证了组件更加易用和容易重用。</p>

    
      <footer>
        
          <a class="previous-guide" href="/guides/components/handling-user-interaction-with-actions">
            ← 使用Action处理用户交互
          </a>
         
            <a class="next-guide" href="/guides/controllers">
              本章组件完毕。下一章： 控制器 - 介绍 →
            </a>
          
      </footer>
      
  </div>

      </div>
    </div>

    <div id="footer">
      <div id="footer-wrapper">
        <div class="info">&copy; 2014 Emberjs.CN <br/>Design by <a href="http://www.heropixel.com">HeroPixel</a></div>
        <div class="statement"><b>声明：</b>本站的文章可以随意在网上转载，但必须注明原文出处！</div>
        <div class="links">
          <a href="http://weibo.com/embercn"><img src="/images/weibo.png"/></a>
          <a href="http://emberjs.cn/blog/feed.xml"><img src="/images/feed.png"/></a>
        </div>
      </div>
    </div>

<!--[if lt IE 9]>
    <script type="text/javascript" src="/javascripts/common-old-ie.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    <script type="text/javascript" src="/javascripts/common-modern.js"></script>
<!--<![endif]-->

    
    <script type="text/javascript" src="/javascripts/guides.js"></script>
    <script src="http://static.jsbin.com/js/embed.js"></script>
  

    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38578402-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0b0fcec01b06cc76e274f7b21f4766c4' type='text/javascript'%3E%3C/script%3E"));

      $(function() {
        $('a[href="http://tongji.baidu.com/hm-web/welcome/ico?s=0b0fcec01b06cc76e274f7b21f4766c4"]').hide();
      });
    </script>

  </body>
</html>
